<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="result2">
<a href="index.php?p=admin&c=Index&a=index">首页</a><a href="index.php?p=admin&c=Classify&a=addClassify">添加分类</a>
<table style="border: 1px solid">
    <tr>
        <th>分类ID</th>
        <th>分类名</th>
        <th>操作</th>
    </tr>
    <?php foreach ($result as $key => $item): ?>
    <tr>
        <!--进行循环的操作-->
        <td><?php echo($key + 1); ?></td>
        <td><?php echo $item['column_name']; ?></td>
        <td>
            <a href="index.php?p=admin&c=Classify&a=delClassify&column_id=<?php echo $item['column_id']; ?>">删除</a>
            <a href="index.php?p=admin&c=Classify&a=upClassify&column_id=<?php echo $item['column_id']; ?>">修改</a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <td colspan="3"><?php echo $pageStr; ?></td>
    </tr>
</table>
</body>
<script>
    function showpage(url) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                document.getElementById('result2').innerHTML = xhr.responseText;
            }
        }
        xhr.open('get', url);
        xhr.send(null);
    }
</script>
</html>