<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/practice/public/js/replay.js" type="text/javascript"></script>
    <title>回复留言</title>
</head>
<body>
留言回复:<textarea id="replayMessage"></textarea>
<input id="message_id" value="<?php echo $message_id; ?>" hidden/>
<button onclick="replayOK()">确定</button>
</body>
</html>
