<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章首页</title>
</head>
<body>

<?php foreach ($result2 as $one): ?>
<h2><?php echo $one['column_name'] ?></h2>
<hr />
<?php foreach ($result1 as $item): ?>
<?php if ($one['column_id'] == $item['column_id']): ?>
<h3 >
    <a style="<?php echo $item['is_red'] == 1?"color:red;":"";?>" href="index.php?p=home&c=article&a=show&artical_id=<?php echo $item['artical_id']; ?>"><?php echo $item['artical_title'] ?></a>
</h3>
<?php endif; ?>
<?php endforeach; ?>
<hr />
<?php endforeach; ?>

</body>
</html>
